
    <!-- heading1 -->
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">The first heading</h1>
          <p class="col-md-8 fs-4">this is the first heading, Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius ipsum, veniam incidunt delectus est numquam eligendi quod! Qui, suscipit quae. Doloremque praesentium odit suscipit asperiores, adipisci rem necessitatibus obcaecati pariatur.</p>
          <div class="d-flex justify-content-end">

              <img src="/website/assets/img/1.jpg" alt="">

          </div>
        </div>
      </div>
