<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <!-- heading1 -->
    <div class="card text-bg-dark">
        <img src="..." class="card-img" alt="...">
        <div class="card-img-overlay">
          <h5 class="card-title">This first Heading</h5>
          <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quo ex corrupti neque fugiat repellat porro harum, repudiandae perspiciatis? Suscipit sequi perspiciatis accusantium dolorem! Praesentium, possimus modi! Quibusdam rerum fugit repudiandae..</p>
          <p class="card-text"><small>git cxo</small></p>
          <img src="website/assets/img/1.jpg" alt="">
        </div>
      </div>

</body>
</html>