<!-- your html code here -->
<div class="container bg-light ">

    <div class="row mx-4">
        <div class="col">
            <h1>Portfolio</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget sapien pulvinar, condimentum lectus
                at,
                faucibus nulla. Cras tempus, dui vel porta accumsan, neque lacus pharetra est, id imperdiet ante lacus
                ut
                ipsum. Vestibulum efficitur a nibh ac cursus. Fusce eget velit neque. Quisque suscipit ligula
                pellentesque
                lorem suscipit ullamcorper.</p>
        </div>
    </div>
    <div class="row mx-4 d-flex justify-content-between">
        
        
        <div class="card col-4" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h1 class="card-title text-primary">Project Name</h1>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget sapien
                    pulvinar,
                    condimentum
                    lectus at,
                    faucibus nulla.</p>
            </div>
        </div>


        <div class="card col-4" style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h1 class="card-title text-primary">Project Name</h1>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget sapien
                    pulvinar,
                    condimentum
                    lectus at,
                    faucibus nulla.</p>
            </div>
        </div>


        <div class="card col-4 " style="width: 18rem;">
            <img src="./assets/img/big-project-image.png" class="card-img-top mt-2" alt="...">
            <div class="card-body">
                <h1 class="card-title text-primary">Project Name</h1>
                <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eget sapien
                    pulvinar,
                    condimentum
                    lectus at,
                    faucibus nulla.</p>
            </div>
        </div>
    </div>

</div>